PivotInterface QLabel,
TabInterface QLabel {
  padding-left: 10px;
  font: 14px 'Segoe UI', 'Microsoft YaHei', 'PingFang SC';
  color: black;
}

#clusterLabel {
  font: 16px 'Segoe UI', 'Microsoft YaHei', 'PingFang SC';
  color: black;
}
